body {
  background: white;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: -0.1px;
  font-family: TruliaSans, system, -apple-system, Roboto, "Segoe UI Bold", Arial, sans-serif;
}
.flexContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -16px;
  border: solid;
  border-color: red;

}
.contentSlider {
  overflow: hidden;
  outline: none;
  box-sizing: border-box;
  display: block;
  margin-bottom: -18px;
  padding-bottom: 18px;
}
.cellBox {
  display: block;
  cursor: pointer;
  border-style: solid;
  border-color: transparent;
  border-width: 16px 8px 0px;
  box-sizing: border-box;
  line-height: 24px;
  display: block;
  flex-shrink: 0;
  flex-basis: auto;
  min-width: 224px;
  width:224px;

}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.imageDiv {
  border: solid;
  border-color: green;
  display: flex;
  position: relative;
  z-index: 0;
  height: 160px;
  border-radius: 8px;
}
.descriptionBox {
  display: block;
  outline: none;
  box-sizing: border-box;
  padding: 8px 0px 0px;
}

.price {
  flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
}
.flexContainer::-webkit-scrollbar {
  display: none;
}